.toolbar {
	// position: absolute;

	background-color: #f1f1f1;
	padding: 20px;
	height: 100vh;
	flex-shrink: 0;
	border-radius: 30px 0px 0px 30px;
	.toolbar > div:first-of-type {
		flex-grow: 1;
	}

	.preview {
		width: 160px;
		height: 160px;
		border: 2px solid black;
		position: relative;
	}

	.preview__brush {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		border-radius: 100%;
	}

	.tool-section {
		padding-bottom: 0.5rem;
	}

	.tool-section--lrg {
		padding-bottom: 1rem;
	}
	.btn--bottom {
		position: absolute;
		bottom: 25px;
		display: flex;
		flex-direction: column;
		width: 155px;
	}
	.btn {
		display: inline-flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		border: 0;
		outline: 0;
		border-radius: 0;
		text-decoration: none;
		padding: 0.5em;
		color: #1d1d1d;
		color: var(--color-text);
		background-color: #bbb;
		height: 45px;
	}

	.btn--main {
		background-color: hsl(211, 100%, 75%);
		margin-bottom: 0.75rem;
	}

	.btn--block {
		display: flex;
		width: 100%;
	}

	.btn--tool {
		background-color: #c1c1c1;
		width: 100%;
		height: 100%;
		padding: 0.25em 0.3em;
	}
	.active {
		background-color: hsl(211, 100%, 75%);
	}
	.btn--color {
		// -webkit-appearance: none;
		border: none;
		width: 100%;
		height: 28px;
		padding: 0;
		cursor: pointer;
	}
	.tool-section-button {
		position: fixed;
		left: 133px;
		bottom: 0px;
		transform: translate(-50%, -50%);
		margin: 0 auto;
	}

	.tool-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0.25rem;
		margin-bottom: 0.5em;
	}

	.tool-section--lrg {
		padding-bottom: 1rem;
	}
	.color-picker {
		width: 160px;
	}

	.color-picker:focus {
		width: 160px;
	}
}
.container {
	display: flex;
	width: 100%;
	height: 100vh;
	.draw-board {
		width: 100%;
		height: 100%;
		.board {
			width: 100%;
			height: 100%;
			background: white;
		}
	}
}

*[disabled],
*[disabled] + label {
	opacity: 0.6;
	cursor: not-allowed;
}

.position {
	background: rgba(0, 0, 0, 0.452);
	position: fixed;
	color: white;
	font-size: 20px;
	margin: 0;
	bottom: 0;
	right: 0;
	width: 150px;
	text-align: center;
	pointer-events: none;
}
